<!-- wp:template-part {"slug":"header","theme":"organic-rialto","tagName":"header","align":"full","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"site-main","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group alignfull site-main"><!-- wp:template-part {"slug":"banner","theme":"organic-rialto","tagName":"section","align":"full","className":"site-banner"} /-->

    <!-- wp:spacer {"height":"32px"} -->
    <div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
    
    <!-- wp:separator {"backgroundColor":"light-gray","className":"is-style-wide"} -->
    <hr class="wp-block-separator has-text-color has-light-gray-color has-alpha-channel-opacity has-light-gray-background-color has-background is-style-wide"/>
    <!-- /wp:separator -->
    
    <!-- wp:spacer {"height":"20px"} -->
    <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:comments {"style":{"spacing":{"margin":{"top":"0","right":"0","bottom":"0","left":"0"}}}} -->
    <div class="wp-block-comments" style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0"><!-- wp:comments-title /-->
    
    <!-- wp:comment-template -->
    <!-- wp:columns {"style":{"spacing":{"padding":{"top":"24px","right":"24px","bottom":"24px","left":"24px"},"margin":{"top":"0","bottom":"6px"},"blockGap":{"top":"24px","left":"24px"}},"border":{"radius":"3px"}},"backgroundColor":"bg-light"} -->
    <div class="wp-block-columns has-bg-light-background-color has-background" style="border-radius:3px;margin-top:0;margin-bottom:6px;padding-top:24px;padding-right:24px;padding-bottom:24px;padding-left:24px"><!-- wp:column {"width":"48px"} -->
    <div class="wp-block-column" style="flex-basis:48px"><!-- wp:avatar {"size":48,"style":{"border":{"radius":"60px"},"spacing":{"margin":{"top":"0","right":"0","bottom":"0","left":"0"}}}} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:comment-author-name {"style":{"typography":{"textTransform":"uppercase"}},"fontSize":"small"} /-->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"12px","padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"layout":{"type":"flex","justifyContent":"space-between"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:comment-date {"isLink":false,"style":{"spacing":{"margin":{"top":"0","right":"0","bottom":"0","left":"0"}}},"fontSize":"extra-small"} /-->
    
    <!-- wp:comment-edit-link {"style":{"spacing":{"margin":{"top":"0","right":"0","bottom":"0","left":"0"}}},"fontSize":"extra-small"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:comment-content /-->
    
    <!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    <!-- /wp:comment-template -->
    
    <!-- wp:comments-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
    <!-- wp:comments-pagination-previous /-->
    
    <!-- wp:comments-pagination-numbers /-->
    
    <!-- wp:comments-pagination-next /-->
    <!-- /wp:comments-pagination -->
    
    <!-- wp:spacer {"height":"20px"} -->
    <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:post-comments-form /--></div>
    <!-- /wp:comments -->
    
    <!-- wp:spacer {"height":"48px"} -->
    <div style="height:48px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"organic-rialto","tagName":"footer","align":"full","className":"site-footer"} /-->