<!-- wp:template-part {"slug":"header","theme":"organic-rialto","tagName":"header","align":"full","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"site-main","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group alignfull site-main"><!-- wp:template-part {"slug":"banner","theme":"organic-rialto","tagName":"section","align":"full","className":"site-banner"} /-->

	<!-- wp:spacer {"height":"32px"} -->
	<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	
	<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
	
	<!-- wp:spacer {"height":"48px"} -->
	<div style="height:48px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer --></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer-links","theme":"organic-rialto","align":"full","className":"footer-links"} /-->
	
	<!-- wp:template-part {"slug":"footer","theme":"organic-rialto","tagName":"footer","align":"full","className":"site-footer"} /-->